/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #1f1d1e;
  overflow: hidden;
}

.imageContainer {
  margin: auto;
  position: relative;
  border: 2px dashed #7b7bff;
  height: 900px;
  width: 800px;
}

.image {
  position: absolute;
  display: inline-block;
  width: 700px;
  height: 700px;
}

.image svg {
  width: 100%;
  height: 100%;
}

.headContainer {
  position: absolute;
  left: 150px;
}

.headContainer #head-front-color, .headContainer #head-front-lineart {
  z-index: 10;
}

.brain {
  position: absolute;
  left: 250px;
  top: 200px;
  z-index: 5;
}

.brain-wires {
  position: absolute;
  left: 150px;
  top: 180px;
  z-index: 3;
}

.faceContainer {
  position: absolute;
  left: 150px;
  top: 350px;
}

.faceContainer #face-front-color, .faceContainer #face-front-lineart {
  z-index: 10;
}

.faceContainer #face-back-color, .faceContainer #face-back-lineart {
  top: -50px;
  z-index: 0;
}

.faceContainer #nose-color, .faceContainer #nose-lineart {
  z-index: 15;
  left: 193px;
  top: 20px;
}

.faceContainer #eye-left-color, .faceContainer #eye-left-lineart {
  z-index: 15;
  left: 50px;
  top: -10px;
}

.faceContainer #eye-right-color, .faceContainer #eye-right-lineart {
  z-index: 15;
  left: 323px;
  top: -10px;
}

.mouthContainer {
  position: absolute;
  top: 620px;
  left: 285px;
  z-index: 10;
}

.mouthContainer #mouth-back-color, .mouthContainer #mouth-back-lineart {
  top: -65px;
}

.wires-mouth {
  position: absolute;
  top: 500px;
  left: 200px;
}

.cheek-left {
  position: absolute;
  left: 170px;
  top: 500px;
  z-index: 5;
}

.cheek-right {
  position: absolute;
  left: 505px;
  top: 500px;
  z-index: 5;
}

.ear-left {
  position: absolute;
  left: 90px;
  top: 370px;
}

.ear-right {
  position: absolute;
  left: 600px;
  top: 370px;
}

.neck-front {
  position: absolute;
  top: 680px;
  left: 330px;
  z-index: 5;
}

.neck-front-left {
  position: absolute;
  top: 680px;
  left: 230px;
  z-index: 5;
}

.neck-front-right {
  position: absolute;
  top: 680px;
  left: 480px;
  z-index: 5;
}

.neck-back {
  position: absolute;
  top: 680px;
  left: 320px;
}

.neck-back-left {
  position: absolute;
  top: 680px;
  left: 230px;
}

.neck-back-right {
  position: absolute;
  top: 680px;
  left: 480px;
}

.neck-base {
  position: absolute;
  top: 750px;
  left: 188px;
}

.neck-inside1 {
  position: absolute;
  top: 700px;
  left: 350px;
}

.neck-inside2 {
  position: absolute;
  top: 770px;
  left: 300px;
}
/*# sourceMappingURL=App.css.map */